@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@model List<MicroService_QLBanDienThoai.Areas.Customer.Models.ViewOrder>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="row">
        <h1 class="page-header">Lịch sử mua hàng:</h1>


        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead class="thead-dark">
                <tr>
                    <th>Mã hóa đơn</th>
                    <th>Tổng tiền</th>
                    <th>Ngày mua</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody class="body-content">
                @{
                    if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="odd gradeX">
                                <td width="10%" class="item-AccountID">@item.Id </td>
                                <td class="item-Password">@item.Amount.ToString("#.## VND")</td>
                                <td class="item-PhoneNumber">@item.OrderDate</td>
                                <td>
                                    <a href="/Customer/Bill/Detail/@item.Id" class="btn btn-info">Chi Tiết</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/admintemplate/vendor/jquery/jquery.min.js"></script>
<script src="~/admintemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/admintemplate/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/admintemplate/js/sb-admin.min.js"></script>