<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Home">
            <i class="fa fa-home"></i>
            <span>Trang Chủ</span>
        </a>
    </li>

    <!-- Quản Lý Sản Phẩm -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-box-open"></i>
            <span>Sản Phẩm</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Thông tin:</h6>
            <a class="dropdown-item" href="~/Admin/Account">Tài Khoản</a>
            <a class="dropdown-item" href="~/Admin/Product">Sản Phẩm</a>
            <a class="dropdown-item" href="~/Admin/Category">Loại Hãng</a>
            <a class="dropdown-item" href="~/Admin/ProductCategory">Loại Sản Phẩm</a>
            <a class="dropdown-item" href="~/Admin/Bill">Đơn Hàng</a>
            <a class="dropdown-item" href="~/Admin/WareHousing">Kho</a>
            @*<a class="dropdown-item" href="~/Admin/WareHousing_Detail">Chi Tiết Nhập Kho</a>*@
        </div>
    </li>

    </li>
</ul>
<script src="~/admintemplate/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
@*<script src="~/admintemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/admintemplate/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/admintemplate/dist/js/sb-admin-2.js"></script>*@